$color-bg-main: #363636;
$color-bg-surface: #2a2a2a;
$color-border: #444;

$color-text-primary: #eee;
$color-text-secondary: #aaa;

$color-accent: #4fd0e2;
$color-error: #e63946;
$color-success: #00e676;


