:root {
  --bg-main: #f5f5f5;
  --bg-surface: #ffffff;
  --border-color: #ccc;
  --text-primary: #111;
  --text-secondary: #555;
  --accent-color: #007aff;
  --error-color: #c62828;
  --success-color: #2e7d32;
  --orange-color: #df9339;

  --font-family: "Inter", sans-serif;
  --box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.theme-dark {
  --bg-main: #2a2a2a;
  --bg-surface: #363636;
  --border-color: #444;
  --text-primary: #eee;
  --text-secondary: #aaa;
  --accent-color: #4fd0e2;
  --error-color: #e63946;
  --success-color: #00e676;
  --orange-color: #df9339;
}
